<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>

<style>



</style>

  <body>





    <h1>This bird is:<%= title %></h1>
	<div class ="box">
      <ul>
      <!-- <% for(let i = 0; i <= birds.length; i++) { %> -->
        <li><h1><a href="/angry-birds:<%= brd.id %>">Name: <%= brd.name[i] %></a></h1></li>
        <li>Abilities: <%= brd.abilities %></li>
        <li>Group: <%= brd.group %></li>
        <li>Species: <%= brd.species %></li>
        <li>Feels: <%= brd.feels %></li>
		<img src='<%= brd.image[i] %>'>
		<p></p>
      <% }; %>
    </ul>
    </div>

  </body>
</html>