<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>

<style>



</style>
<%- include('partials/header') %>

  <body>
        <% for (let i = 0; i < birds.length; i++) { %>
          <% if (birds[i].id === '/angry-birds:[i]') { %>

            <h1>This bird is:<%= birds[i].name %></h1>
	           <div class ="box">
              <ul>
                <li>Abilities: <%= birds[i].abilities %></li>
                <li>Group: <%= birds[i].group %></li>
                <li>Species: <%= birds[i].species %></li>
                <li>Feels: <%= birds[i].feels %></li>
		            <img src='<%= birds[i].image %>'>
		            <p></p>
              </ul>
            <% }; %>
          <% }; %>
    </div>
    <%- include('partials/footer') %>

  </body>
</html>