<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>

    <h1><%= title %></h1>
	<div class ="box">
      <ul>
      <% birds.forEach(function(brd){ %>
        <li><h1><a href="/angry-birds:<%= brd.id %>">Name: <%= brd.name %></a></h1></li>
        <li>Abilities: <%= brd.abilities %></li>
        <li>Group: <%= brd.group %></li>
        <li>Species: <%= brd.species %></li>
        <li>Feels: <%= brd.feels %></li>
		<img src='<%= brd.image %>'>
		<p></p>
      <% }); %>
    </ul>
    </div>

  </body>
</html>