<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Yay for <%= title %></p>

	<div>
      <ul>
      <% birds.forEach(function(brd){ %>
        <li><h1><%= brd.name %></h1></li>
        <li><%= brd.abilities %></li>
        <li><%= brd.group %></li>
        <li><%= brd.species %></li>
        <li><%= brd.feels %></li>
        <!-- <li><%= brd.id %></li> -->
		<img src='<%= brd.image %>' />

      <% }); %>
    </ul>
    </div>

  </body>

</html>